<app-header></app-header>
<div class="container-fluid">
  <div class="jumbotron">
    <h3 class="text-center">Admin Bank</h3>  
    </div>
  <div class="table-responsive">
    <table class="table table-hover table-bordered search-table">
      <tr class="info active">
        <th>S.No</th>
       <th>FROM</th>
       <th>TO</th>
       <th>AMOUNT</th>
        <th>RECIEVED AMOUNT</th>
      </tr>
      <tr>
        <td>100</td>
        <td>SAQIB</td>
        <td>Admin</td>
        <td>1000</td>
       
        <td>
          <input type="button" class="btn btn-success" value="Recieved Amount">
        </td>
      </tr>
    </table>
  </div>
</div>