.dropdown-toggle:hover{
    cursor: pointer; 
}
.main{
    background-color: rgb(32, 3, 3);
    color: white;
}
.myNavBar{
    color:white;
}
img{
    margin-top: -12px !important;
    width: 130px;
    height: 40px;
}