<app-header></app-header>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Fee List</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <div class="col-md-5">
                <div class="field">
                    <input type="text" name="name" [(ngModel)]="input.name" id="fullname" placeholder="Customer Name">
                    <label for="fullname">Customer Name</label>
                </div>
               
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="field">
                    <input type="text" name="Panel" [(ngModel)]="input.panel"id="fullname" placeholder="Panel">
                    <label for="fullname">Panel</label>
                </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-5">
                <div class="field">
                    <input type="text" name="phone_no" [(ngModel)]="input.phone_no" id="fullname" placeholder="Phone Number">
                    <label for="fullname">Phone Number</label>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="field">
                    <input type="text" name="month" [(ngModel)]="input.month" id="fullname" placeholder="Month">
                    <label for="fullname">Month</label>
                </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-5">
                <div class="field">
                    <input type="number" name="paid"[(ngModel)]="input.paid" id="fullname" placeholder="Paid">
                    <label for="fullname">Paid</label>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="field">
                    <input type="number" name="street_no" [(ngModel)]="input.street_no" id="fullname" placeholder="Street Number">
                    <label for="fullname">Street Number</label>
                </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-5">  
                <div class="field">
                    <input type="number" (keyup)="findAmount()" name="ampere" [(ngModel)]="input.ampere" id="fullname" placeholder="Ampere">
                    <label for="fullname">Ampere</label>
                </div>
             </div>
             <div class="col-md-1"></div>
             <div class="col-md-5">  
                <div class="field">
                    <input type="number" name="amount"(keyup)="findBalance()" id="fullname" [(ngModel)]="input.amount"  placeholder="Amount">
                    <label for="fullname">Amount</label>
                </div>
             </div>
          </div>
          <div class="form-group row">
            <div class="col-md-2"></div>
              <div class="col-md-8">  
                  <div class="field">
                      <input type="number" name="balance"[(ngModel)]="input.balance" id="fullname" placeholder="Balance">
                      <label for="fullname">Balance</label>
                  </div>
               </div>
          </div>     
          <div class="form-group row">
            <div class="col-md-4">
              <input type="button" (click)="editPopUpRecords()" class="btn btn-success" value="Submit Record">
            </div>
            <div class="col-md-4">
              <input type="button" class="btn btn-warning"value="Print Orignal">
            </div>
            <div class="col-md-4">
                <input type="reset" class="btn btn-danger"value="Reset">
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--ends of toggle div-->
<div class="container-fluid">
  <div class="jumbotron">
    <h3 class="text-center">Fee List</h3>
    <div class="row  search-form">
      <form>
        <label class="form-group col-md-2">
          <input routerLink="/fee-entry" value="Add Fee" class="form-control btn btn-warning" />
        </label>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="field">
                <input type="text" id="search_tab" placeholder="Search By Year">
                <label for="fullname">Search By Year</label>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="field">
                <input type="text" name="fullname" id="search_tab" placeholder="Search">
                <label for="fullname">Search</label>
            </div>
        </div>
      </form>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-bordered search-table">
      <tr class="info active">
        <th>S.No</th>
        <th>NAME</th>
        <th>PANEL</th>
        <th>PHONE NUMBER</th>
        <th>Month</th>
        <th>YEAR</th>
        <th>PAID</th>
        <th>STREET NUMBER</th>
        <th>AMPERE</th>
        <th>AMOUNT</th>
        <th>BALANCE</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let item of list; index as i" [ngClass]="{'notPaid' : check(i)}">
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.panel}}</td>
        <td>{{item.phone_no}}</td>
        <td>{{item.month}}</td>
        <td>{{item.year}}</td>
        <td>{{item.paid}}</td>
        <td>{{item.street_no}}</td>
        <td>{{item.ampere}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.balance}}</td> 
        <td>
          <input type="button" class="btn btn-primary"(click)="onUpdate(item,i)" data-toggle="modal" data-target="#myModal" value="Cash">
          <input type="button" class="btn btn-warning" value="Duplicate">
          <input type="button" (click)="onClick(item)"  class="btn btn-danger" value="Del">
        </td>
      </tr>
    </table>
  </div>
</div>