<div class="container">
    <div class="header"><h1>Sign In</h1></div>
    <div class='info'>Eleven 4 Generator</div>
    <div class="main-container">
        <input id='username' class='text' [(ngModel)]="input.username" class='inc2' type="text" name="Username" placeholder='Username' value="">
        <input id='password' class='pass' [(ngModel)]="input.password" class='inc1' type="password" name="Password" placeholder='Password' value="">
    </div>
    <button (click)="onClick()">Sign In</button> 
</div>