<app-header></app-header>
<div class="container main" >		
  <fieldset><legend>Employee Entry</legend></fieldset>
  <form>
    <div class="form-group row">
			<div class="col-md-1"></div>
      <div class="col-md-5">
					<div class="field">
							<input type="text" name="fullname" id="fullname" placeholder="Employee Name">
							<label for="fullname">Employee Name</label>
					</div>
      </div>
      <div class="col-md-5">
					<div class="field">
							<input type="text" name="fullname" id="fullname" placeholder="Employee Password">
							<label for="fullname">Employee Password</label>
					</div>
      </div>
    </div>
    <div class="form-group row">
				<div class="col-md-1"></div>
      <div class="col-md-5">
					<div class="field">
							<input type="text" name="fullname" id="fullname" placeholder="CNIC">
							<label for="fullname">CNIC</label>
					</div>
      </div>
      <div class="col-md-5">
					<div class="field">
							<input type="text" name="fullname" id="fullname" placeholder="Employee Contact">
							<label for="fullname">Employee Contact</label>
					</div>
      </div>
    </div>
    <div class="form-group row">
				<div class="col-md-1"></div>
      <div class="col-md-5">
					<div class="field">
							<input type="number" name="fullname" value="0" readonly id="fullname" placeholder="Employee Amount">
							<label for="fullname">Employee Amount</label>
					</div>
      </div>
      <div class="col-md-5">
					<div class="field">
							<input type="date" name="fullname" id="fullname" placeholder="Employee Joining Date">
							<label for="fullname">Employee Joining Date</label>
					</div>
      </div>
    </div>
    <div class="form-group row">
				<div class="col-md-1"></div>
			<div class="col-md-4"></div>
      <div class="col-md-4">
					<div class="field">
							<input type="text" name="fullname" id="fullname" placeholder="Employee Type">
							<label for="fullname">Employee Type</label>
					</div>
      </div>
		</div>
		<div class="form-group row">
				<div class="col-md-1"></div>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<input type="button" class="btn btn-success" value="Submit Record">
			</div>
			<div class="col-md-4">
				<input type="reset" class="btn btn-danger"value="Reset">
			</div>
    </div>
  </form>
</div>		