<app-header></app-header>
<div class="container main" >		
  <fieldset><legend>Fee Entry</legend></fieldset>
  <form>
    <div class="form-group row">
      <div class="col-md-5">
					<div class="field">
							<input type="text" name="name" [(ngModel)] = "input.name" placeholder="Customer Name">
							<label for="fullname">Customer Name</label>
          </div>
         
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
					<div class="field">
							<input type="text" name="panel" [(ngModel)] = "input.panel" placeholder="Panel">
							<label for="fullname">Panel</label>
					</div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-5">
					<div class="field">
							<input type="text" name="phone_no" [(ngModel)] = "input.phone_no"placeholder="Phone Number">
							<label for="fullname">Phone Number</label>
					</div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
					<div class="field">
							<input type="number" name="paid" [(ngModel)] = "input.paid" placeholder="Paid">
							<label for="fullname">Paid</label>
					</div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-5">
					<div class="field">
							<input type="number" name="street_no"[(ngModel)] = "input.street_no" placeholder="Street Number">
							<label for="fullname">Street Number</label>
					</div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
					<div class="field">
							<input type="number" name="ampere"(keyup)="findAmount()" [(ngModel)] = "input.ampere" placeholder="Ampere">
							<label for="fullname">Ampere</label>
					</div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-5">  
          <div class="field">
              <input type="number" (keyup)="findBalance()" name="amount" [(ngModel)] = "input.amount" placeholder="Amount">
              <label for="fullname">Amount</label>
          </div>
       </div>
       <div class="col-md-1"></div>
       <div class="col-md-5">  
          <div class="field">
              <input type="number" name="balance" [(ngModel)] = "input.balance"  placeholder="Balance">
              <label for="fullname">Balance</label>
          </div>
       </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-4">
        <div class="field">
          <input type="date" name="month_date" [(ngModel)] = "input.month_date">
          <label for="fullname">Date</label>
      </div>
      </div>
      <div class="col-md-4"></div>
    </div>
		<div class="form-group row">
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<input type="button"(click)="insertFee()" class="btn btn-success" value="Submit Record">
			</div>
			<div class="col-md-4">
				<input type="reset" class="btn btn-danger"value="Reset">
			</div>
    </div>
  </form>
</div>		