<div class="print-data">
  <img src="../../assets/images/print logo.png" width="120" height="70" alt="LOGO">
  <p class="p-name">0334-3488155
    <br/>
  </p>
  <p class="p-name">0314-6885588
    <br/>
  </p>
  <p class="p-name">0349-1826876
    <br/>
  </p>
  <div class="duplicate">Duplicate Slip</div>
  <br/>
  <div class="details">
    <span class="p-data">Name</span>:
    <span>Mohammad Khalid </span>
    <br/>
    <span class="p-data">Panel</span> :
    <span> panel-0001</span>
    <br/>
    <span class="p-data">Phone Number </span>:
    <span> 0310-123448989 </span>
    <br/>
    <span class="p-data">Date </span>:
    <span>12/09/2018</span>
    <br/>
    <span class="p-data">Paid </span>:
    <span> 2000</span>
    <br/>
    <span class="p-data">Street No </span>:
    <span>st-14</span>
    <br/>
    <span class="p-data">Ampere </span>:
    <span> 1 </span>
    <br/>
    <span class="p-data">Balance </span>:
    <span> 0 </span>
    <br/>
  </div>
</div>